@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="margin-top: 2rem;">
    <div class="col-6">
        <div id="calculatedIndex"> </div>
    </div>
    <div class="col-6 text-end">
        <button class="btn btn-primary mb-3" id="rewriteButton">
            <i class="bi bi-pencil me-2"></i>Rewrite
        </button>
    </div>
</div>
<div class="row full-height">
    <!-- Left Column: Input Textarea -->

    <div class="col-md-6 mb-3">
        <div class="card h-100">
            <div class="card-header">
                Email content
            </div>
            @using (Html.BeginForm())
            {
                <div class="card-body">
                    <textarea class="form-control"
                              id="emailContent"
                              rows="15"
                              placeholder="Enter your text here...">
    Dear Esteemed Speaker,

    Allow me to extend a most cordial welcome to CloudBrew and the fair country of Belgium. It is my sincere hope that your sojourn among us will prove not only pleasant but also intellectually and culturally enriching.

    We eagerly anticipate the privilege of your presence and look forward to the conversations and camaraderie that await.

    With all best wishes for your continued success and well-being, I remain,

    Yours faithfully and with the greatest repsect,
                                  </textarea>

                </div>
            }
        </div>
    </div>

    <!-- Right Column: Output Area -->
    <div class="col-md-6 mb-3">
        <div class="card h-100">
            <div class="card-header">
                Output
            </div>
            <div class="card-body" id="outputArea">
                <!-- Output will be rendered here -->
                <div id="spinner" class="spinner-border text-primary" style="display: none;"></div>
                <div id="calculatedIndex"> </div>
                <div id="result"></div>
            </div>
            <div class="card-footer text-end">
                <button class="btn btn-outline-success me-2" id="thumbsUpButton">
                    <i class="bi bi-hand-thumbs-up"></i>
                </button>
                <button class="btn btn-outline-danger" id="thumbsDownButton">
                    <i class="bi bi-hand-thumbs-down"></i>
                </button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        // Debounce function to delay the API call
        function debounce(func, wait) {
            let timeout;
            return function (...args) {
                const context = this;
                clearTimeout(timeout);
                timeout = setTimeout(() => func.apply(context, args), wait);
            };
        }

        // Function to call the API and update the result div
        async function callApiAndUpdateResult() {
            const emailContent = document.getElementById('emailContent').value;
            try {
                const response = await fetch('/api/calculate', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ content: emailContent })
                });
                const result = await response.json();
                document.getElementById('calculatedIndex').innerHTML = "<b>Readability index:</b>"+result.index;
            } catch (error) {
                console.error('Error calling API:', error);
            }
        }

        // Debounced version of the API call function
        const debouncedCallApi = debounce(callApiAndUpdateResult, 500);

        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('emailContent').addEventListener('input', debouncedCallApi);
            
            //Calculate the readibility score immediately
            callApiAndUpdateResult();

            document.getElementById('thumbsUpButton').addEventListener('click', function () {
                const emailContent = {
                    content: document.getElementById('result').innerText
                };

                fetch('/api/score/thumbsup', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(emailContent)
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            });

            document.getElementById('thumbsDownButton').addEventListener('click', function () {
                const emailContent = {
                    content: document.getElementById('result').innerText
                };

                fetch('/api/score/thumbsdown', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(emailContent)
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            });

            document.getElementById('rewriteButton').addEventListener('click', function () {
                var emailContent = document.getElementById('emailContent').value;
                document.getElementById('rewriteButton').disabled = true;
                document.getElementById('spinner').style.display = 'block';
                fetch('/api/rewrite', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ 'content': emailContent })
                })
                .then(response => {
                    const reader = response.body.getReader();
                    const stream = new ReadableStream({
                        start(controller) {
                            function push() {
                                reader.read().then(({done, value}) => {
                                    if (done) {
                                        controller.close();
                                        document.getElementById('spinner').style.display = 'none';
                                        document.getElementById('rewriteButton').disabled = false;
                                        return;
                                    }
                                    controller.enqueue(value);
                                    document.getElementById('result').innerHTML += new TextDecoder().decode(value);
                                    push();
                                })
                            }
                            push();
                        }
                    });
                    return new Response(stream, { headers: { "Content-Type": "text/html" } });
                })
                .catch((error) => {
                    console.error('Error:', error);
                    document.getElementById('spinner').style.display = 'none';
                    document.getElementById('rewriteButton').disabled = false;
                });
            });
        });
    </script>
}
